<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <img [src]="adriana" (click)="adrianaClicked()" id="picture2" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img [src]="joanna" (click)="joannaClicked()" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img src="assets/vis/s-12.png" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img [src]="chirag" (click)="chiragClicked()" id="picture1" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img [src]="sam" (click)="samClicked()" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img src="assets/vis/s-17.png" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img [src]="ana" (click)="anaClicked()" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img src="assets/vis/s-24.png" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img [src]="miguel" (click)="miguelClicked()" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img [src]="matt" (click)="mattClicked()" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img src="assets/vis/s-19.png" id="picture1" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img [src]="karinna" (click)="karinnaClicked()" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img src="assets/vis/s-13.png" id="picture1" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img src="assets/vis/s-14.png" id="picture2" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img src="assets/vis/s-15.png" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img src="assets/vis/s-16.png" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img [src]="ainara" (click)="ainaraClicked()" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img src="assets/vis/s-18.png" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img [src]="jonathan" (click)="jonathanClicked()" id="picture2" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img src="assets/vis/s-20.png" id="picture2" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img src="assets/vis/s-21.png" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img src="assets/vis/s-22.png" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img src="assets/vis/s-23.png" id="picture3" class="img-responsive" width="270" />
    </div>
    <div class="col-xs-4">
      <img [src]="russell" (click)="russellClicked()" id="picture1" class="img-responsive" width="270" />
    </div>
  </div>